/* FOOTER */

    footer {
        text-align: center;
        padding: 2rem;
        border-top: 1px solid @borde;
        font-size: 0.83rem;
        color: @gris;
        background-color: @blanco;
    }

    .nav-links a.active {
        color: @azul;
        font-weight: 600;
    }
